body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
}
nav {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: black;
}

a {

}

.container {
    margin: auto;
}

.search-container {  
    justify-content: center;
}

input type {
    border-radius: 50%;
}