body {
    font-family: 'Courier New', Courier, monospace;
    color: #2F4159;
    background: #F2CD88;
    padding: 1rem 5rem 1rem 5rem;

}

.summary {
    font-weight: bold;
    border-bottom: 5px solid #d9299b;
    padding-bottom: 1rem;
}

h2 {
    border-bottom: 2px dashed #d9299b;
    padding-bottom: 1rem;
}

h3 {
    color: #f2294e;
}

#consoleimg {
    width: 70%;
    border-radius: 100px;
    border: 5px solid grey;
    margin-left: 2rem;
    
}

#quizresultsimg {
    width: 30%;
    border-radius: 100px;
    border: 5px solid grey;
    margin-left: 5rem;
}

#colorschemeimg {
    width: 50%;
    border: 5px solid grey;
    margin-left: 5rem;
}

figcaption {
    text-indent: 5rem;
}