  img {
      max-width: 300px;
  }
  
  body {
    background-color: rgb(25, 100, 126);
  }
  
  h1 {
    color: pink;
    text-align: center;
  }
  
  p {
    color: pink;
    font-family: verdana;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    font-size: 4.5em;
    font-family: "verdana", sans-serif;
  }

  ol {
    color: pink;
    font-size: 20px;
  }