  img {
      max-width: 300px;
  }
  
  body {
    background-color: rgb(25, 100, 126);
  }
  
  h1 {
    color: pink;
    text-align: center;
  }

  h3 {
    color: blueviolet;
    text-align: center;
  }
  
  p {
    color: pink;
    font-family: "verdana", sans-serif;
    font-weight: bold;
    font-size: 2em;
  }

  ol {
    color: pink;
    font-size: 20px;
  }
span {
  color: orange;
}
a:link  {color:#FF0000;} /* unvisited link */
a:visited {color:#00FF00;} /* visited link */
a:hover, a:focus {color:#FF00FF;} /* mouse over or select with keyboard*/
a:active {color:#0000FF;} /* selected link */
<<<<<<< Updated upstream:css/task-2.2.2.css
=======

.box {
  border: 5px solid #c02d28;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
}
header, main, footer {
  border: 20px solid green;
  margin: 10px auto; /* come back to this 'auto' */
  padding: 10px;
  text-align: center;
}
.relative{
  position: relative;
  left: 80px;
  top: 20px;
  height: 100px;
  background-color: yellow;
  border: 1px solid green;
}
>>>>>>> Stashed changes:css/styles.css
