  img {
      max-width: 300px;
  }
  
  body {
    background-color: rgb(25, 100, 126);
  }
  
  h1 {
    color: pink;
    text-align: center;
  }

  h3 {
    color: blueviolet;
    text-align: center;
  }
  
  p {
    color: pink;
    font-family: "verdana", sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: left;
  }

  ol {
    color: pink;
    font-size: 20px;
  }

  ul li {
    color: green;
  }